{% extends 'check/base.html' %}
{% load myfilters %}

<!-- NAVIGATION BAR SECTION -->
{% block nav %}
<ul class="nav navbar-nav">
    <li><a href="{%url 'check:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li><a href="{%url 'check:ibm' %}">IBMXForce</a> </li>
    <li class="active"><a href="{%url 'check:ipvoid' %}">IPVoid</a> </li>
    <li><a href="{%url 'check:virustotal' %}">Virus Total</a> </li>
    <li><a href="{%url 'check:iplocation' %}">IPLocation</a> </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="{%url 'check:report' %}"><span class="glyphicon glyphicon-file"></span> Report</a></li>
    <li><a href="{%url 'check:settings' %}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
</ul>
{% endblock %}

<!-- BODY SECTION -->
{% block content %}
<br>
<div class="container">
    <div class="jomborton text-center">
        <h1>IPVoid</h1>
        <p>Best Website to Capture the Complete Information of IPAddress</p>
         <br>
        <button class="btn btn-danger" data-toggle="collapse" data-target="#single">Single Check</button>
        <button class="btn btn-success" data-toggle="collapse" data-target="#multiple">Bulk Check</button>
        <button class="btn btn-warning" data-toggle="collapse" data-target="#csv">Bulk Check using csv</button>
    </div>
    <br>
    <!-- SINGLE IPADDRESS CHECK FORM -->
    <form id="single" class="form-group text-center" action="{%url 'check:ipvoid' %}" method="post" hidden>
        {% csrf_token %}
        <label for="data">Enter IPAddress</label>
        <div class="form-inline">
            <input type="text" class="form-control" name="singledata" id="data">
            <button type="submit" class="btn btn-primary">Check</button>
        </div>
    </form>
    <br>
    <!-- MULTI IPADDRESS CHECK FORM -->
    <form id="multiple" class="form-group text-center" action="{%url 'check:ipvoid' %}" method="post" hidden>
        {% csrf_token %}
        <label for="bulk">Enter IPAddress in Bulk</label>
        <div class="form-inline">
            <textarea type="text" class="form-control" rows="10" cols="50" name="bulkdata[]" id="bulk"></textarea><br><br>
            <button type="submit" class="btn btn-primary">Check</button>
        </div>
    </form>
    <br>
    <!-- UPLOAD FILE TO CHECK IPADDRESS FORM -->
    <form id="csv" class="form-group text-center" action="{%url 'check:ipvoid' %}" method="post" enctype="multipart/form-data" hidden>
        {% csrf_token %}
        <label for="filedata">Upload file to check bulk data (only csv format is allowed)</label>
        <div class="form-inline">
            <input type="file" class="form-control" name="myfile" id="filedata">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>
<!-- RESULT SECTION -->
<div class="container">
    <div class="row">

        <!-- DISPLAY TO THE USER WHEN UPLOAD FILE DATA IS READY TO DOWNLOAD -->
        {% for key, file in reputation.items %}
        {% if key == 'ipvoid_file' %}
        <div class="holder">
            <div class="jomborton text-center">
                <h4>Reputation Check is done for the Uploaded file</h4>
                <p>Download the File </p>
                <a href="{{file}}" download><img src="https://cdn0.iconfinder.com/data/icons/coding-files-icons/110/Csv-File-512.png" width="100" height="100"></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <!-- DISPLAY IPVOID SINGLE CHECK DATA -->
        {% if reputation.ipv_data.items|is_len %}
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">IPVoid Single Check</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            {% for key, value in reputation.ipv_data.items %}
                            <tr>
                                <td>{{key}}</td><td>{{value}}</td>
                                {% if key == 'SCORE' and value|ifinlist:"0, 1, 2, 3, 4, 5"%}
                                    <span><button class="btn btn-success">Safe</button> </span>
                                {% elif key == 'SCORE' and value|ifinlist:"6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20"%}
                                    <span><button class="btn btn-danger">Malicious</button> </span>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        <!-- DISPLAY IPVOID BULK CHECK DATA -->
        {% elif reputation.ipv_bulk.items|is_len %}
        <div class="row">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">IPVoid Bulk Check</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <th>IPADDRESS</th>
                                <th>SCORE</th>
                                <th>STATUS</th>
                                <th>COUNTRY</th>
                                <th>CITY</th>
                            </thead>
                            <tbody>
                                {% for key, value in  reputation.ipv_bulk.items %}
                                <tr>
                                    {% for k, v in value.items %}
                                        <td>{{v}}</td>
                                        {% if k == 'SCORE' and v|ifinlist:"0, 1, 2, 3, 4, 5" %}
                                            <td><button class="btn btn-success">Safe</button></td>
                                        {% elif k == 'SCORE' and v|ifinlist:"6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20" %}
                                            <td><button class="btn btn-danger">Malicious</button> </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}